* {
    background-color:rgb(68, 79, 238);
}

.bodyCenter {
    display:flex;
}

header {
    display:flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    color: white;
    padding-bottom:50px;
}

aside {
    display:flex;
    padding-left: 25px;
    padding-top:50px;
    padding-bottom: 5px;
}


h1 {
    color: white;
    font-size: 25px;
    font-family: cursive;
}


form {
    text-align: center;
}


.formPad {
    margin: 5px;
}

#search {
    border-radius: 5px;
    color: rgb(235,194,11);
}

#button {
    color:white;
    border-radius: 5px;
}

::placeholder {
    color:rgb(235, 194, 11);
}

#button:hover {
    background-color:rgb(68, 79, 238);
    transform:scale(1.03);
}

.mainWeather {
    display:flex;
    justify-content: center;
    vertical-align: auto;
    margin-left: 125px;
    padding-bottom: 5px;
    flex-direction: column;
}

#City {
    color:white;
    text-align: center;
}

#Temp, #Wind, #Humid {
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.boxStyle {
    border: 3px solid white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 40px;
}

.dropBox {
    margin-top: 20px;
}

.fiveDay {
    display:flex;
    vertical-align: top;
    padding: 100px;
    border: 3px solid black;
    width:100%;
    vertical-align: top;
}

.tile {
    width:20%;
    text-align:center;
    border: 3px solid black;
    margin: 5px;
}



